#resume {
  background: $yellow;
  border-top: 4px solid $orange;
  border-bottom: 4px solid $orange;
}

/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  #resume {

  }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  #resume {

  }
}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  #resume {

  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  #resume {

  }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  #resume {

  }
}