/************************************************************************/
// Colors
/************************************************************************/

$blue: #538CC6;
$light-blue: #84B5D1;
$yellow: #FFD569;
$orange: #FF9745;

/************************************************************************/
// Fonts
/************************************************************************/

$font-open-sans: 'Open Sans', sans-serif;
$font-josefin: 'Josefin Sans', sans-serif;